@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-white text-gray-900;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://www.musicstore.com/INTERSHOP/static/WFS/MusicStore-Site/MusicStoreShop/MusicStore-MusicStoreShop/en_US/static-pages/Abteilungsinfos/Header/DJ_Header.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ใช้กรอบด้านในสีขาว */
.container {
  background-color: #ffffff;
  @apply p-6 rounded-lg shadow-lg;
}